body{
	font-family: 'Dancing Script', cursive;
  color: white;
	background-color: #02010a;
  width: 90%;
  margin-left: 5%;
}

header{
	height: 150px;
	background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}

h1{
	font-size: 2.5em;
	color: white;
  text-shadow: 2px 2px 2px #02010a;
	padding: 5px;
	float: left;

}

nav{
	float: right;
	list-style-type: none;
  color: white;
}

li{
	display:inline;
	padding:5px;
	font-size: 1.5em;
}

ul{
	float:right;
	margin-right: 50px;
	color: white;
}

a{
  color: white;
}

p{
  color: black;
  font-size: 24px;
}

#principal{
	background: #82c3a6;
  height: 10%;
  text-align: center;
}

#adaptativa-porcentaje{
	width:90%;
  height: 90%;
  box-shadow: 2px 2px 2px #02010a;
  margin: 5%;
}

#segundaria{
  background-color: #d5c75f;
  height: 10%;
  text-align: center;
}

#adaptativa-porcentaje1{
	width:80%;
  height: 80%;
  box-shadow: 2px 2px 2px #02010a;
  margin: 5%;
}

#adaptativa-porcentaje2{
	width:80%;
  height: 80%;
  box-shadow: 2px 2px 2px #02010a;
  margin: 5%;
}

.seg_izq{
  background-color: #d5c75f;
  float: left;
  width: 50%;
}

.seg_der{
  background-color: #d5c75f;
  float: right;
  width: 50%;
}

#adaptativa-porcentaje1:hover{
  transform: rotate(10deg);
	transition: 0.5s;
	border: 2px solid black;
  box-shadow: 2px 2px 2px #82c3a6;
}

#adaptativa-porcentaje2:hover{
  transform: translateY(-5px) translateX(20px);
	transition: 0.5s;
	border: 2px solid black;
  box-shadow: 2px 2px 2px #82c3a6;
}

footer {
	font-size: 4.0em;
	padding-top: 10px;
	margin-top: 15px;
	text-align: center;
  height: 20%;
	background-color: #5b7989;
  border-radius: 0px 0px 10px 10px;
}

.col1{
  width: 25%;
  float: left;
  background-color: #5b7989;
  border-radius: 0px 0px 0px 10px;
}

.col2{
  width: 25%;
  float: left;
  background-color: #5b7989;
}

.col3{
  width: 25%;
  float: left;
  background-color: #5b7989;
}

.col4{
  width: 25%;
  float: left;
  background-color: #5b7989;
  border-radius: 0px 0px 10px 0px;
}
