body{
	font-family: 'Dancing Script', cursive;
  color: white;
	background-color: #02010a;
  width: 90%;
  margin-left: 5%;
}

section{
	display: flex;
	flex-direction: row;
}


header{
	height: 150px;
	background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}

h1{
	font-size: 2.5em;
	color: white;
  text-shadow: 2px 2px 2px #02010a;
	padding: 5px;
	float: left;

}

h2{
	font-size: 38px;
	color: black;
	padding: 5px;
	float: left;
	margin: O;

}

nav{
	float: right;
	list-style-type: none;
  color: white;
}

li{
	display:inline;
	padding:5px;
	font-size: 1.5em;
}

ul{
	float:right;
	margin-right: 50px;
	color: white;
}

a{
  color: white;
}

p{
  color: black;
  font-size: 20px;
	margin: 0;
}

#principal{
	background: #82c3a6;
  height: 20%;
  text-align: center;
}

#adaptativa-porcentaje{
	width:90%;
  height: 90%;
  box-shadow: 2px 2px 2px #02010a;
  margin: 5%;
}

#segundaria{
  background-color: #d5c75f;
  height: 20%;
  text-align: center;
}

#adaptativa-porcentaje1{
	width:80%;
  height: 80%;
  box-shadow: 2px 2px 2px #02010a;
  margin: 3%;
}

#adaptativa-porcentaje2{
	width:80%;
  height: 80%;
  box-shadow: 2px 2px 2px #02010a;
  margin: 3%;
}

.seg_izq{
  float: left;
  width: 50%;
}

.seg_der{
  float: right;
  width: 50%;
}

#adaptativa-porcentaje1:hover{
  transform: rotate(10deg);
	transition: 0.5s;
	border: 2px solid black;
  box-shadow: 2px 2px 2px #82c3a6;
}

#adaptativa-porcentaje2:hover{
  transform: translateY(-5px) translateX(20px);
	transition: 0.5s;
	border: 2px solid black;
  box-shadow: 2px 2px 2px #82c3a6;
}

footer {
	padding-top: 10px;
	text-align: center;
  height: 20%;
	background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.c1{
  width: 25%;
}

.c2{
  width: 25%;
}

.c3{
  width: 25%;
}

.c4{
  width: 25%;
}

@media (min-width: 420px) and (max-width: 599px){
	.c1, .c2, .c3, .c4 {
			width: 100%;
		}

		section{
			display: inline-block;
		}

		#principal {
			width: 100%;
		}

		.seg_der, .seg_izq {
			width: 100%;
		}

		.contenido {
		width: 100%;
		}

		header{
			text-align: center;
			display: inline-block;
			width: 100%;
			height: 200px;
		}

		nav{
			float: left;
			font-size: 1.5em;

		}

		h1{
			float: left;
			font-size: 3.0em;
			margin: 0;
		}

		ul{
			margin: 0;
		}

		h2{
			font-size: 55px;
			margin: 0;
		}

		p{
			font-size: 25px;
		}
}

@media (min-width: 600px) and (max-width: 899px) {
	.c2, .c3, .c4, .c1 {
			width: 50%;
		}

		#principal {
			width: 100%;
		}

		section{
			display: inline-block;
		}

		.seg_der, .seg_izq {
			width: 100%;
		}

		ul{
			margin: 0;
		}

		h2{
			font-size: 55px;
		}

		p{
			font-size: 25px;
		}
}

@media (min-width: 900px) {

		.c1, .c2, .c3, .c4 {
		width: 25%;
		}

		.contenido {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		}

}
